/* Body */

body{
    margin: 0px;
    padding: 0px;
    background-color: $fondo-main;
    color: $text-main;
    font-family: 'Roboto', sans-serif;
    display: flex;
	height: 600px;
	flex-direction: column;
}