/* estilo de color para titulo de tabla seccion clases */
.titulo-tabla{
    color: #bd1d1d;
}
tr{
    color: #bd1d1d;
}

h2{
    color: #bd1d1d;
}

/*Tabla*/



#tabla{
    
    border: #bd1d1d;
    border-style: double;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

/*Imagenes en Clases*/



.PicClases{
    display: inline-block;
}

.pic-clases{
    width: 30vw;
    height: 100vh;
}

/*Menu Food&drinks*/


#menu{
    width: 80vw;
    height: 100vh;
}


