/* estilo de color para titulo de tabla seccion clases */
.titulo-tabla{
    color: #bd1d1d;
}
tr{
    color: #bd1d1d;
}

#horario{
    color: #bd1d1d;
}

/* video */

#anselmi{
    width: 30vw;
    height: 30vh;

}